*.o
*.out
*.elf
*.so*
*.a
linux-*
include/*-linux-ouma*/asm/
include/asm-generic/
include/linux/
include/misc/
include/mtd/
include/rdma/
include/scsi/
include/sound/
include/video/
include/xen/
/target
